/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

div.bottomLinks {
  display: block;
  padding: 10px;
}

a  div.bottomLinks{
  display: block;
}
 a:hover div.bottomLinks{
  display: block;
  background-color: #CCC;
 }