<template>
    <div id="app">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <!-- Search Input Field -->
                    <div class="input-field col s10">
                        <input placeholder="Enter the name of the city" v-model="city" type="text" class="validate" required>
                    </div>

                    <!-- Search Button -->
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light" @click="searchWeather" name="action">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Search Result In Card -->
            <div v-for="(weather, index) in weatherData" class="col s12 m6 l4">
                <div class="card blue darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{weather.name}}</span>
                        <h3>{{weather.temp}} C</h3>
                        <p> {{weather.dt}} </p>
                        <a class="btn-floating halfway-fab waves-effect waves-light red" @click="remove(index)"><i class="material-icons">remove</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'app', // Initializing for the template
  data () {
    return {
      city:'',
      weatherData:JSON.parse(window.localStorage.getItem('weatherData')) //Getting the weather data from localstorage
    }
  },
  methods:{
  // Method for removing weather data
  remove (index) {
    this.weatherData.splice(index, 1)
    window.localStorage.setItem('weatherData', JSON.stringify(this.weatherData))
  },
  // Method for searching weather information
   searchWeather () {
      var self=this
      axios.get('http://api.openweathermap.org/data/2.5/weather?APPID=ec30f129863cc999b64e9b2e271355d3&units=metric&q='+this.city)
      .then(function (response) {
        if(response.data.cod==200){
          var a={
            id: response.data.id, // id of the weather data
            name: response.data.name, // name of the city
            temp: response.data.main.temp, // temperature of the city 
            dt: new Date(response.data.dt * 1000) // date time of the city
          }
          var temp=[]
          temp.push(a)
          if(window.localStorage.getItem('weatherData')==null){
            self.weatherData=[]
            self.weatherData.push(a)
            window.localStorage.setItem('weatherData', JSON.stringify(temp))
          }
          else{
            var b=JSON.parse(window.localStorage.getItem('weatherData'))
            var count=0
            // Validation for maximum 5 data
            if(b.length<5){
              for(var i=0;i<b.length;i++)
                {
                if(b[i].id==response.data.id)
                {
                  count=1
                  break
                }
              }
              if(count==0){
                b.push(a)
                self.weatherData.push(a)
                window.localStorage.setItem('weatherData', JSON.stringify(b))
              }
            }
          }
        }
      })
      .catch(function (error) {
      });
   }
  }
}
</script>

